[Unit]
Description=Odoo Service Target
Documentation=man:systemd.target(5)
Wants=odoo-db.service odoo-init.service odoo-app.service
After=odoo-db.service odoo-init.service odoo-app.service
# Allow isolation - can stop/start this target independently
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
