[Unit]
Description=Nextcloud Service Target
Documentation=man:systemd.target(5)
Wants=nextcloud-db.service nextcloud-redis.service nextcloud-fpm.service nextcloud-nginx.service
After=nextcloud-db.service nextcloud-redis.service nextcloud-fpm.service nextcloud-nginx.service
# Allow isolation - can stop/start this target independently
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
